<html>
	<head>
		<!-- angularjs.org -->

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
		<script>
			angular.module("todo", []) /*création d'un module todo*/
				.controller("todoController", function(){
					console.log("je suis ton controleur")
					var todoctrl=this;
					
				todoctrl.tasks=["un","deux"]
					
				todoctrl.addTask=function(desc){
						todoctrl.tasks.push(
							desc)}
							
				todoctrl.affichemoi=true;
				
				todoctrl.reverse=true;
				
			})
		</script>
		</head>
	<body ng-app="todo"> <!-- Créer d'abord le module !!!! -->
		
		<header>
			<h1>Exercice de js</h1>
		</header>
		
		<main ng-controller="todoController as todoctrl"> <!--  Signale l'instanciation du controleur -->	
			<ul>
				<li ng-repeat="task in todoctrl.tasks | orderBy">
					{{task}}
				</li>
			</ul>
			
			<button ng-click="reverse=!reverse">tri dans l'autre sens</button></br>
			{{todoctrl.tasks|orderBy:null:reverse}}</br>
			
			<input type="text" ng-model="newtask">
			<button ng-click="todoctrl.addTask(newtask)">add</button>
			
			<div>
				<button ng-click="todoctrl.affichemoi =! todoctrl.affichemoi">show/hide</button>
				<div ng-if="todoctrl.affichemoi">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam explicabo, officia fugiat nulla at provident ipsa labore reiciendis voluptatum. Ut provident sint consequatur illum commodi nihil delectus reprehenderit molestiae.</div>
			</div>
		</main>
			
	</body>
</html>